<div class="header">
    <a class="navbar-brand" href="/">
        <img src="logo.png">
    </a>
    <a class="navbar-brand">
        <h1><strong>PET DETECTIVE</strong></h1>
    </a>
</div>

<nav class="navbar navbar-expand-lg bg-primary">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/login"><strong>Administradores</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/regularusers/regularlogin"><strong>Login</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/regularusers/create"><strong>Criar</strong></a>
        </li>
    </ul>
</nav>