<div class="header">
    <a class="navbar-brand" href="/">
        <img src="/logo.png">
    </a>
    <a class="navbar-brand">
        <h1><strong>PET DETECTIVE</strong></h1>
    </a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/regularusers/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/regularusers/articles">Artigos</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a  class="nav-link" href="/logout">Logout</a>
            </li>
    </ul>
</nav>